.jumbotron {
	h1{
		.font(100,null,'Peterbuilt');
	}
	p {
		.font(30, @white);
	}
	margin-bottom: 0;
}
#philosophy {
	background-color: @green;
	h1 {
		color: @white;
	}
}
#why {
	background-color: @light-brown;
	color: @green;
}
#team {
	background-color: @white;
}
.footer {
	background-color: @grey;
	color: @dark-grey;
}
.separator {
	.separator-0{
		path {
			fill: @white;
			stroke: @white;
			stroke-width: 2;
		}
		pointer-events: none;
		background-color: @green;
	}
	.separator-1{
		path {
			fill: @green;
			stroke: @green;
			stroke-width: 2;
		}
		pointer-events: none;
		background-color: @light-grey;
	}
	.separator-2 {
		path {
			fill: @light-grey;
			stroke: @light-grey;
			stroke-width: 2;
		}
		pointer-events: none;
		background-color: @light-brown;
	}
	.separator-3 {
		path {
			fill: @light-brown;
			stroke: @light-brown;
			stroke-width: 2;
		}
		pointer-events: none;
		background-color: @white;
	}
	.separator-4 {
		path {
			fill: @white;
			stroke: @white;
			stroke-width: 2;
		}
		pointer-events: none;
		background-color: @grey;
	}
	height: 100px;
}