@import "helpers.less";
@import "navbar.less";
@import "content.less";

@font-face{
  font-family: 'Champagne & Limousines';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Champagne & Limousines.woff') format('woff'),
       url('/fonts/Champagne & Limousines.ttf') format('truetype');
}
@font-face {
  font-family: 'Champagne & Limousines';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/Champagne & Limousines Bold.woff') format('woff'),
       url('/fonts/Champagne & Limousines Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Peterbuilt';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Peterbuilt.ttf') format('truetype');
}

html{
  font-size: 62.5%;
}
body {
  padding: 0;
  .font();
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
.container-narrow > hr {
  margin: 30px 0;
}

