@media (min-width: 768px) {
  .navigation {
    float: right;
    position: relative;
    left: -50%;
    text-align: left;
  }
  .navigation .nav {
    position: relative;
    left: 50%;
  }
}
.navigation-separator {
  height: 30px;
  width: 30px;
  margin-top: 10px;
  background-image: url('/images/paw_brown.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.navigation .navbar-nav {
  vertical-align: middle;
}
.navigation .navbar-nav li > a {
  font-family: 'Champagne & Limousines';
  font-size: 1.8rem;
  color: #70533a;
  font-weight: bold;
}
.header .header-logo {
  padding-left: 15px;
  padding-right: 15px;
}
.header .header-image {
  max-height: 200px;
}
.header .header-caption {
  line-height: 100%;
  font-family: 'Champagne & Limousines';
  font-size: 5rem;
  color: #70533a;
}
.header .header-logo {
  margin-bottom: 30px;
  padding-top: 50px;
  padding-bottom: 20px;
}
.body-sticky {
  padding-top: 50px;
}
.navbar {
  z-index: 1030;
}
.jumbotron {
  margin-bottom: 0;
}
.jumbotron h1 {
  font-family: 'Peterbuilt';
  font-size: 10rem;
  color: null;
  margin-bottom: 30px;
}
.jumbotron p {
  font-family: 'Champagne & Limousines';
  font-size: 4rem;
  color: #ffffff;
  margin: 0;
}
#philosophy {
  background-color: #65ada9;
}
#philosophy h1 {
  color: #ffffff;
}
#services h1 {
  text-align: right;
}
#why {
  background-color: #e7ddd1;
  color: #65ada9;
}
#team {
  background-color: #ffffff;
}
.footer {
  background-color: #333333;
  color: #e1e1e1;
}
.separator {
  height: 100px;
}
.separator .separator-0 {
  pointer-events: none;
  background-color: #65ada9;
}
.separator .separator-0 path {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 2;
}
.separator .separator-1 {
  pointer-events: none;
  background-color: #efefef;
}
.separator .separator-1 path {
  fill: #65ada9;
  stroke: #65ada9;
  stroke-width: 2;
}
.separator .separator-2 {
  pointer-events: none;
  background-color: #e7ddd1;
}
.separator .separator-2 path {
  fill: #efefef;
  stroke: #efefef;
  stroke-width: 2;
}
.separator .separator-3 {
  pointer-events: none;
  background-color: #ffffff;
}
.separator .separator-3 path {
  fill: #e7ddd1;
  stroke: #e7ddd1;
  stroke-width: 2;
}
.separator .separator-4 {
  pointer-events: none;
  background-color: #333333;
}
.separator .separator-4 path {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 2;
}
.dog-walking {
  padding-right: 40px;
}
.services-content {
  font-family: 'Champagne & Limousines';
  font-size: 5rem;
  color: #70533a;
  font-weight: 700;
}
.services-desc {
  font-family: 'Champagne & Limousines';
  font-size: 2rem;
  color: #000000;
}
.why-content {
  margin-bottom: 10px;
}
.why-content .why-paw {
  height: 50px;
  width: 50px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin-right: 10px;
}
.why-content .why-header {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Champagne & Limousines';
  font-size: 4rem;
  color: #65ada9;
  font-weight: bold;
}
.why-content .why-info {
  margin-left: 65px;
  font-family: 'Champagne & Limousines';
  font-size: 3rem;
  color: #65ada9;
}
.footer {
  padding-bottom: 130px;
}
.team-panel {
  padding-left: 40px;
  padding-right: 40px;
}
.team-name {
  font-family: 'Champagne & Limousines';
  font-size: 4rem;
  color: #000000;
  text-align: center;
}
.team-avatar {
  padding-left: 50px;
  padding-right: 50px;
}
.team-details {
  font-family: 'Champagne & Limousines';
  font-size: 2rem;
  color: #000000;
}
@font-face {
  font-family: 'Champagne & Limousines';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Champagne & Limousines.woff') format('woff'), url('/fonts/Champagne & Limousines.ttf') format('truetype');
}
@font-face {
  font-family: 'Champagne & Limousines';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/Champagne & Limousines Bold.woff') format('woff'), url('/fonts/Champagne & Limousines Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Peterbuilt';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Peterbuilt.ttf') format('truetype');
}
html {
  font-size: 62.5%;
}
body {
  padding: 0;
  font-family: 'Champagne & Limousines';
  font-size: 1.4rem;
  color: #000000;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
.container-narrow > hr {
  margin: 30px 0;
}
